mandeep-sensor-platform/data/flows.json
[
    {
        "id": "0b9edc73aec51869",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1f20c68c2fa4a56",
        "type": "inject",
        "z": "0b9edc73aec51869",
        "name": "Request IO-Link Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"code\":10,\"cid\":4711,\"adr\":\"/iolinkmaster/port[3]/iolinkdevice/pdin/getdata\"}",
        "payloadType": "json",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "1b82c7b04bcaf4f5"
            ]
        ]
    },
    {
        "id": "1b82c7b04bcaf4f5",
        "type": "http request",
        "z": "0b9edc73aec51869",
        "name": "Send to IO-Link Master",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "192.168.1.10",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "99eaf1e4aa410e8b",
                "da554782a4d1dda6"
            ]
        ]
    },
    {
        "id": "99eaf1e4aa410e8b",
        "type": "function",
        "z": "0b9edc73aec51869",
        "name": "Decode HEX → Integer",
        "func": "// Unified IO-Link decode function for VVB (vibration) & Ultrasonic sensors\n\nlet hex = msg.payload.data?.value || msg.payload.value;\nif (!hex) {\n    node.warn(\"No hex data found in payload\");\n    return null;\n}\nhex = hex.replace(/\\s+/g, \"\");\nlet b = Buffer.from(hex, \"hex\");\n\n// Helper for signed 16-bit\nconst s16 = (i) => b.readInt16LE(i);\n\n// Identify device type based on data length or known pattern\nlet doc = {};\nif (b.length >= 20) {\n    // ------------------------------\n    // 🌀 Vibration Sensor (VVB001)\n    // ------------------------------\n    let v_rms       = Number((s16(0) * 0.0001).toFixed(4));\n    let a_peak      = Number((s16(2) * 0.1).toFixed(1));\n    let a_rms       = Number((s16(4) * 0.1).toFixed(1));\n    let temperature = Number((s16(6) * 0.1).toFixed(1));\n    let crest       = Number((s16(8) * 0.1).toFixed(1));\n\n    let status = b[10];\n    let device_status = status & 0x0F;\n    let out2 = (status >> 4) & 0x01;\n    let out1 = (status >> 5) & 0x01;\n\n    doc = {\n        sensor_type: \"vibration\",\n        v_rms,\n        a_peak,\n        a_rms,\n        temperature,\n        crest,\n        device_status,\n        out2,\n        out1,\n        raw_hex: hex,\n        timestamp: new Date().toISOString()\n    };\n}\nelse if (b.length >= 10) {\n    // ------------------------------\n    // 🌊 Ultrasonic Sensor (U2000)\n    // ------------------------------\n    let distance_raw     = s16(0);\n    let temperature_raw  = s16(2);\n    let signal_raw       = s16(4);\n    let window_raw       = s16(6);\n    let status           = b[8];\n\n    let distance     = Number((distance_raw * 0.1).toFixed(1));  // mm\n    let temperature  = Number((temperature_raw * 0.1).toFixed(1)); // °C\n    let signal       = Number((signal_raw * 0.1).toFixed(1));      // %\n    let window_value = Number((window_raw * 0.1).toFixed(1));      // mm\n\n    doc = {\n        sensor_type: \"ultrasonic\",\n        distance,\n        temperature,\n        signal_quality: signal,\n        window_value,\n        status,\n        raw_hex: hex,\n        timestamp: new Date().toISOString()\n    };\n} \nelse {\n    node.warn(\"Unknown sensor frame length: \" + b.length);\n    return null;\n}\n\n// Build Elasticsearch POST request\nmsg.method = \"POST\";\nmsg.url = \"http://localhost:9200/sensor-data/_doc\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = doc;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 480,
        "wires": [
            [
                "f318f4bd12a26f1f"
            ]
        ]
    },
    {
        "id": "eb8ce40dbb005b96",
        "type": "http request",
        "z": "0b9edc73aec51869",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://elasticsearch:9200/sensor_data/_doc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1370,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f318f4bd12a26f1f",
        "type": "function",
        "z": "0b9edc73aec51869",
        "name": "http fun",
        "func": "let data = msg.payload;\n\n// Ensure decoding was done before this function\nif (data.data && data.data.value) {\n    node.warn(\"⚠️ Received raw IO-Link data — decode function must run before this node.\");\n    return null;\n}\n\n// Check if this is vibration data\nif (data.sensor_type === \"vibration\") {\n    if (data.v_rms === undefined || data.a_peak === undefined) {\n        node.warn(\"⚠️ Vibration decoded fields missing!\");\n        return null;\n    }\n    node.status({fill:\"green\", shape:\"dot\", text:\"vibration data\"});\n}\n\n// Check if this is ultrasonic data\nelse if (data.sensor_type === \"ultrasonic\") {\n    if (data.distance === undefined || data.signal_quality === undefined) {\n        node.warn(\"⚠️ Ultrasonic decoded fields missing!\");\n        return null;\n    }\n    node.status({fill:\"blue\", shape:\"dot\", text:\"ultrasonic data\"});\n}\n\n// Unknown or unrecognized document\nelse {\n    node.warn(\"⚠️ Unknown sensor type: \" + JSON.stringify(data));\n    return null;\n}\n\n// Build Elasticsearch request\nmsg.method = \"POST\";\nmsg.url = \"http://localhost:9200/sensor-data/_doc\";  // use same index for both\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\n// Forward data directly\nmsg.payload = data;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 480,
        "wires": [
            [
                "eb8ce40dbb005b96"
            ]
        ]
    },
    {
        "id": "2559740759728e9a",
        "type": "inject",
        "z": "0b9edc73aec51869",
        "name": "Reqest IO-Link VVB Sensor Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"code\":10,\"cid\":4711,\"adr\":\"/iolinkmaster/port[4]/iolinkdevice/pdin/getdata\"}",
        "payloadType": "json",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "18085f0f822b166f"
            ]
        ]
    },
    {
        "id": "18085f0f822b166f",
        "type": "http request",
        "z": "0b9edc73aec51869",
        "name": "Send to IO-Link Master",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "192.168.1.10",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "99eaf1e4aa410e8b",
                "943b380f3ed11b2f"
            ]
        ]
    },
    {
        "id": "da554782a4d1dda6",
        "type": "debug",
        "z": "0b9edc73aec51869",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "943b380f3ed11b2f",
        "type": "debug",
        "z": "0b9edc73aec51869",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 160,
        "wires": []
    }
]